{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Swagger UI</title>
    <link rel="stylesheet" type="text/css" href="{% static 'swagger-ui.css' %}">
</head>
<body>
    <div id="swagger-ui"></div>
    <script src="{% static 'swagger-ui-bundle.js' %}"></script>
    <script src="{% static 'swagger-ui-standalone-preset.js' %}"></script>
    <script>
        window.onload = function() {
            const ui = SwaggerUIBundle({
                url: "{% url 'schema-swagger-ui' %}",
                dom_id: '#swagger-ui',
                presets: [
                    SwaggerUIBundle.presets.apis,
                    SwaggerUIStandalonePreset,
                ],
                layout: "StandaloneLayout",
            })
        }
    </script>
</body>
</html>